.whole-wrapper{
    border-bottom: 1px solid black;
}

/*Hero CSS */
.HeroImage img{
    margin: 20px 0px;

}

.welcome-text{
    position: absolute;
    bottom: 8px;
    color: white;
    font-weight: 900;
    font-size: 20vh;
    left: 3px;
}

.homeIcons{
display: flex;
flex-direction: column;
align-items: center;
color: black;
font-size: 150px;
padding: 10px;
}

/*mini links*/
.home-mini-links{
    display: flex;
    margin: 30px auto;
    align-items: center;
    flex-direction: column;

}


/*Description CSS*/
.shortDescriptions{
    display: flex;
    width: 950px;
    align-items: center;
    margin: 5px auto;

}

.designerDescription{
    margin: 10px;
    font-weight: 300;
    line-height: 2.5;

}

.writerDescription{
    margin: 10px;
    font-weight: 300;
    line-height: 2.5;
}

.poetDescription{
    margin: 10px;
    font-weight: 300;
    line-height: 2.5;
}


/*recent work css*/
.section-head{
    margin: 150px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    font-weight: 900;
    font-variant: small-caps;
}


.carosel{
    width: 100%;
    height: 70vh;
    background: black;
    margin-bottom: 30px;
}



/*Blog CSS */
.blog-holder{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 950px;
    margin: 20px auto;

}

.Blog-block{
    display: flex;
    background: black;
    height: 360px;
    width: 300px;
    margin: 40px 20px;
}


/*Publications css*/

.publication-holder{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 950px;
    margin: 20px auto;

}

.publication-block{
    display: flex;
    background: black;
    height: 360px;
    width: 300px;
    margin: 40px 20px;
}